<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("head", required: false)<!--default-->
</head>
<body>
    <div class="container-fluid">
        <!-- this is the menu place holder-->
        @RenderPage("~/_Menu.cshtml")
        <br/><br/>
        <div class="jumbotron">
               @RenderSection("banner")
        </div>
        @RenderBody()
        <hr style="height:5px " />
        @RenderSection("footer", required: false)
    </div>
</body>
</html>
