<!-- using bootstrap to format and handle the menu  -->

<!-- menu area-->
<div class="navbar navbar-default navbar-fixed-top">
    <!-- set up the brading area of the menu -->
    <div class="navbar-header">
        <a class="navbar-brand" style="font-size:x-large;">
            <strong>CPSC1517 - Razor</strong>
        </a>
    </div>
    <!-- menu root area-->
    <ul class="nav navbar-nav">
        <!--root menu item-->
        <li><a href="@Href("~/Default.cshtml")">Home</a></li>
        <!-- example of a drop down sub-menu -->
        <li class="dropdown">
            <!-- dropdown menu item toggle-->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controls <b class="caret"></b></a>
            <!-- code the dropdown submenu items-->
            <ul class="dropdown-menu">
                <li><a href="@Href("~/Controls/TextBoxes.cshtml")">TextBoxes</a></li>
                <li><a href="@Href("~/Controls/RadioButtons.cshtml")">RadioButtons</a></li>
                <li><a href="@Href("~/Controls/CheckBoxes.cshtml")">CheckBoxes</a></li>
                <li><a href="@Href("~/Controls/DropDown.cshtml")">DropDown(select)</a></li>
            </ul>

        </li>
    </ul>

</div>